@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Nunito:wght@200;400;600;700&display=swap');


body {
    background-color: #131722;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

.overLay {
    background-color: rgba(0,0,0,0.9);
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
img {
    transition: all 0.3s;
}
.item:hover .overLay {
    top: 0;
}
.item:hover img {
    transform: scale(1.5);
}
.vote {
    position: absolute;
    top: 0;
    right: 0;
    background-color:#24baef ;
}

.brdr {
    background-color: #a8a8a83d;
    height: 2px;
    margin: 20px 0 ;
}
p {
    color: #949cb0;
}


/* ============================== */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  .offline {
    position: absolute;
    width: 30%;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    z-index: 999;
  }

  .myForm > input {
    background-color: transparent;
    border-color: #a8a8a83d;
    color: #fff;
  }